# Build
dist/
.angular/
out-tsc/

# Dependências
node_modules/

# Logs
*.log

# IDEs
.vscode/
.idea/
.project
.classpath
.settings/

# Cache / testes
coverage/
.sass-cache/

# Sistema
.DS_Store
Thumbs.db